.home {
  height: 100vh;
  background-image: url(../public/background/01.png);
  background-size: 105%;
  background-position: center;
}

.side {
  display: flex;
  flex-direction: column;
  width: 65%;
  float: right;
  display: flex;
}

.background {
  background-color: rgba(255, 255, 255, 0.6);
}